<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Requests </title>
<!--    <link type="text/css" rel="stylesheet" href="static/menu_request.css">-->
    <style type="text/css">
            .named_list {
                font-size: 12pt;
                display: inline-block;
                width: 500px;
                text-align: left;
               }
    </style>
</head>
<body>
    <div align="center">
        <h2> Выберите запрос </h2>
        <form action="" method="POST">

            {% for item in requests_dict.items() %}
            <input id="req" name="select_request" type="radio" value="{{ item[0] }}"/>
            <label for="req" class="named_list">{{ item[1].html.text }}</label><br>
            {% endfor %}<br>
            <input type="submit" value="Отправить">

        </form>
        <br><br>
        <a href="{{url_for('main_menu')}}"> Вернуться на главную страницу </a><br><br>
        <a href="{{url_for('exit_')}}"> Выход из системы </a>
    </div>

</body>
</html>